.boost {
    background-image: url(/images/bg-boost-desktop.svg);
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $secondary;
    text-align: center;
    color: #fff;
    display: grid;
    place-items: center;
    align-content: center;
    overflow-x: hidden;

    h2 {
        line-height: 3;
    }

    button {
        @include btn;
    }
}

@media screen and (width <=768px) {
    .boost {
        background-image: url(/images/bg-boost-mobile.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        h2 {
            font-size: calc(2 * 1rem);

        }
    }
}