$primary: hsl(180, 66%, 49%);
$secondary: hsl(257, 27%, 26%);
$active: hsl(0, 87%, 67%);
$light-txt: hsl(0, 0%, 75%);
$gray: hsl(257, 7%, 63%);
$footer-bg: hsl(255, 11%, 22%);
$black: hsl(260, 8%, 14%);